@{
    var toy = ViewData["Toy"] as Session.Data.Models.Toy;
}

<table cellpadding=10 cellspacing=10 class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Toy Name</td>
            <td>Toy Description</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
    </thead>
    <tbody>    
        <tr>
            <td>@toy.CToyId</td>
            <td>@toy.VToyName</td>
            <td>@toy.VToyDescription</td>
            <td>@toy.MToyRate</td>
            <td>@toy.SiToyQoh</td>
        </tr>     
    </tbody>
</table>
